*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//********************************************/
//* Variable Declaration
//********************************************/

$bgColor:pink;
$fontFamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fontSize:1.2rem;
$fontColor:white;
$navBgColor:#30A7C3;
$myBorder:2px solid brown;

body{
    background-color: $bgColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    // // color: $fontColor;
}

// **********  Header *************

header{
    background-color: $navBgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    img{
        width: 80px;
        border: $myBorder;
    }

    ul{
        list-style-type: none;

        li{
            display: inline-block;
            padding: 0.5rem;

            a{
                color: $fontColor;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                    background-color: aquamarine;
                }
            }
        }
    }
}

.banner{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    padding: 1rem;
    line-height: 2rem;
    background-color: hotpink;
    aside{
        button{
            background-color: #864242;
            padding: .5rem;
            border: none;
border-radius: 5px;
            margin-top: 1rem;
            margin-left: .5rem;
        &:hover{
            background-color: red;
            cursor:pointer;
        }

        }
    }
}
