
#kutu2{
    /* background-color: rgb(121, 147, 170); */
    
}

ul{padding: 0;
margin: 0;}

.div1{
    display: inline-block;
    width: 120px;
    float:left;
}


#div2{
    width: 800px;
}
#div2 input{
/* background-color: aquamarine; */
text-align: right;
margin-left: 30px;
}

/* input{background-color: rgb(182, 128, 46);} */

#ad{ background-color: aqua;}

div#div2 p{
    display: inline-block;
   /* background-color: aqua; */
   margin: 0;
   width: 150px;
}

div#div2 div input:hover {
    background-color: rgb(218, 218, 241);
    
}