*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(76,64,84);
background: linear-gradient(165deg, rgba(76,64,84,1) 0%, rgba(128,128,128,1) 50%, rgba(156,131,114,0.8603816526610644) 100%);
}
.container{
    display: grid;
    grid-template-rows: 100px 250px 450px 30px  ;
    grid-template-columns: repeat(4 ,1fr) ;
    
    width: 80vw;
    
    grid-template-areas: 
    "header header header header"
    "box1 box2 box3 sidebar"
    "main main main sidebar"
    "footer footer footer footer";
    gap: 1rem;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
    

}

.header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 5px;
    
}
.search input{
    background: rgba(41, 43, 43, 0.455);
    border: none;
    height: 50px;
    font-size: 20px;
    width: 300px;
    
}
.fa-magnifying-glass {
    margin-right:-30px ;
}
.right a{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    margin-right: 10px;
    font-size: 20px;
    color: black;
}


.right{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    
}




.content1{
    grid-area: header;
}
.content2{
    grid-area: box1;
   
}

.content2 img:hover{
    transition: all .3s ease-in;
    transform: scale(1.2);
}
.content3{
    grid-area: box2;
    
   
    
}
.content3 img:hover{
    transition: all .3s ease-in;
   transform: scale(1.2);
}
.content4{
    grid-area: box3;
   
}

.content4 img:hover{
    transition: all .3s ease-in;
    
   transform: scale(1.2);
}
.content5{
    grid-area: sidebar;
    background-color: rgba(240, 255, 255, 0.623);
    font-weight:500;
    
}
ul , h4{margin: 5px;
    
}
.content7 {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

.content6{
    grid-area: main;
}
