

.div1{
    width: 400px;
    height: 100px;
    background-color: antiquewhite;
}

.div2{background-color: aqua;
width: 50%;
    
}

.div3{background-color: beige;
width: 50%;

    
}

.div4{background-color:rgb(172, 124, 54);
width: 50vw;

    
}