*{
    margin: 0;
    box-sizing: border-box;
}
#baslik{
    background-color: aqua;
    margin: 99px auto;
    width: 150px;
    height: 150px;
    border: 10px solid red;
    border-radius: 3px;
    text-align: center;
    
}


#par1{
    background-color: rgb(128, 206, 206);
    /* margin: 50px 20px 11px 44px; */
    margin: 5%;
    padding: 5px;
    padding-left: 10px;
    padding-top: 50px;
    padding: 25px;
    /* en son verdigimiz padding degeri bütün köşelere etki ettiği için diğer değerleri override ediyor ve kod sıralamasında en sonda yazıldiği için aktif oluyor. */
}


#par2{
    background-color: rgb(75, 88, 88);
    width:50%;
    margin:100px auto;
    
}