*{
    margin: 0;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: repeat(5, 1fr);
    /* gap: 1rem; */
    /* grid-auto-flow: column; */
}

.content{
    border: 2px solid;
    background-color: deepskyblue;
    /* box-shadow: 5px 5px 5px black;
    transition: all .51s; */
}


/* .content:active{
    box-shadow: 0 0 0 black;
    transform: scale(0.96);
    background-color: orange;
} */

.content1{
    background-color: olive;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content2{
    background-color: fuchsia;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1/2;
    z-index: 2;
}

.content3{
    background-color: yellow;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;

    background-image: url("https://picsum.photos/id/870/600/400");
    background-size: cover;
    background-position: center;
}

.content11{
    background-color: rgba(0, 100, 0, 0.78);
    grid-column:4/5 ;
    grid-row:1/5 ;
    z-index: 3;
}
.content15{
    background-color: darkorange;
    grid-column:2/4 ;
    grid-row: 3/5 ;
}

.content7{
    background-color: hotpink;
    grid-column: 1/ span 3;
    grid-row: 5/ span 1;
}

.content17{
    background-color: crimson;
    /* row-start/col-start/row-end/col-end */
    grid-area: 2/2/3/4;
    color: greenyellow;
    font-size: 3rem;
    border-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content4{
    background-color: rgba(255, 127, 80, 0.73);
    grid-area: 4/3/6/5;
    z-index: 50;
}


.abs{
    background-color: yellow;
    color: black;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}
