.container{
    display: grid;
    grid-template-columns: 200px 500px 200px 100px ;
    grid-template-rows: 100px  400px;
    gap: 2px;
}

.content{
    background-color: rgb(88, 88, 220);

}
.content1{
    content: url(./img/Harvey.png);
    width: 100%;
    height: 100%;
}

.content2{
    font-size: 3rem;
}