*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* headerrr */
header{background-color: rgba(127, 255, 212, 0.61);
padding: 1rem;
}

header a img{
    width: 50px;

}

.sign-in{
    float: right;
    padding-top: 2rem;
}
.sign-in a {
    color: red;
}
