//*****************************************************
//*   Variables
//*****************************************************


//Color

$primary-color:#272727;
$secondary-color:#ff652f;
$text-color:#fff;


//font

$font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//path

$pathName1: "../img/model-1.jpg";
$pathName2: "../img/project-1.jpg";
$pathName3: "../img/project-2.jpg";
$pathName4: "../img/project-3.jpg";
$pathName5: "../img/project-4.jpg";
$pathName6: "../img/project-5.jpg";