*{box-sizing: border-box;
   
}
textarea{resize: none;}
h4{ margin-top: 3px;
margin-left: 25px;}



#kut2{
}
#kutu2toplam{
    /* background-color: antiquewhite; */
    display: inline-block;
    text-align: left;
    padding: 0;
}

#kutu1{
    /* background-color: aqua; */
    display: inline-block;
    width: 120px;
    height: 126px;
    text-align: justify;
    float: left;
}
#kutu2{
    /* background-color: aquamarine; */
    display: inline-block;
}


#x{
    width: 100px;
    display: inline-block;
}



#kutu3{
    display: inline-block;
    margin-left: 15px;
}
/* span{
    background-color: aqua;
    text-align: center;
margin-top: 0;
    
     
 

}
 */
#kutu24{
    text-align: center;
}

