
#kutu2{
    /* background-color: rgb(121, 147, 170); */
    
}

ul{padding: 0;
margin: 0;}

.div1{
    display: inline-block;
    width: 120px;
    float:left;
}


#div2{
    width: 800px;
}
#div2 input{
background-color: aquamarine;
text-align: right;
margin-left: 130px;
}

/* input{background-color: rgb(182, 128, 46);} */

#ad{ background-color: aqua;}