.font1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.font2{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.font3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;


}

.font4{font-family: 'Sacramento', cursive;
    font-size: 1.2rem;
    font-variant: small-caps;

    
}

.font5{font-family: 'Overpass', sans-serif;

    
}